.buttonContainer {
  display: flex;
  width: 100%;
  min-width: 140px;
  height: 2em;
  border: 1px black solid;
}

.counter {
  width: 50px;
  padding: 5px;
}

.button {
  width: 100%;
  background-color: var(--success);
  color: white;
  cursor: pointer;
  border-left: 1px black solid;
}

.button:hover {
  background-color: var(--success-hover);
}
